div.grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 90%;
    margin: auto;
}
div.me {
    max-width: 90%;
    margin: auto;
}

article.tile {
    background-color: #816DF8;
    color: #221D42;
    padding: 1.2em 3em;
    max-width: 300px;
    margin: 1em
}
body {
    background-color: darkslateblue;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

section.profile {
    color: white;

}
.profile > .me > * {
    margin-top: 0;
    margin-bottom: 0;
}