@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
/* @import url('https://fonts.googleapis.com/css2?family=Chivo+Mono:wght@100;300;400;500&display=swap'); */

/* Masque la scrollbar par défaut */
::-webkit-scrollbar {
  width: 0.4rem;
  background-color: transparent;
}
  
/* Style du "thumb" de la scrollbar (la partie qui se déplace) */
::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 0.25rem;
}

/* Style du "track" de la scrollbar (la partie vide) */
::-webkit-scrollbar-track {
  background-color: transparent;
}

.btn-link {
    @apply bg-sky-500 hover:bg-indigo-500 duration-200 text-white font-[400] py-2 px-4 rounded-lg mt-2 mr-2 hover:shadow-md hover:shadow-indigo-500/50;
}
